.calculator_theme-4 {
  background-color: $calculator-color-theme-4;
  .calculator__board {
    background-color: $board-color-theme-4;
  }
  .calculator__buttons {
    .calculator__button {
      background-color: $numbers-color-theme-4;
    }
    .calculator__button_colored {
      background-color: $characters-color-theme-4;
    }
  }
}
