$calculator-color-theme-1: lightgrey;
$characters-color-theme-1: orange;
$numbers-color-theme-1: grey;
$board-color-theme-1: lightblue;

$calculator-color-theme-2: #ffb573;
$characters-color-theme-2: #1e6d74;
$numbers-color-theme-2: #ff7800;
$board-color-theme-2: #66e275;

$calculator-color-theme-3: #fffe73;
$characters-color-theme-3: #85004e;
$numbers-color-theme-3: #ff7800;
$board-color-theme-3: #66e275;

$calculator-color-theme-4: #ffffcc;
$characters-color-theme-4: #ff9900;
$numbers-color-theme-4: #ffcc66;
$board-color-theme-4: #ffff99;

$breakpoint-one: 1000px;
$breakpoint-two: 700px;
$breakpoint-three: 620px;
$breakpoint-four: 420px;