.calculator {
    margin: 0 auto;
    width: 30%;
    height: 375px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
}

@media (max-width: 700px) {
    .calculator {
        width: 95%;
        height: 95vw;
    }
}
