.calculator {
  margin: 0 auto;
  width: 70%;
  height: 375px;
  padding: 10px;
  border: 0;
  border-radius: 15px;
}
.calculator__board {
  height: 70px;
  font: normal bold 30px/120% 'Roboto', sans-serif;
  text-align: right;
}

@media (max-width: 700px) {
  .calculator {
    width: 95%;
    height: 95vw;
  }
  .calculator__board {
    height: 20%;
    font: normal bold 50px/120% 'Roboto', sans-serif;
  }
}

